{{ header }}
{{ nav }}

<link href="{{ __css__ }}admin/actions/list.css" rel="stylesheet">
<link href="{{ __css__ }}admin/files/manager.css" rel="stylesheet">

{% if popup %}
    <style>
        .main-content {
            margin: 0 !important;
            height: 100%;
            border-radius: 0 !important;
        }
    </style>
{% endif %}

<div class="main-content">
    <input type="hidden" id="current-dir" value="{{ currentDir }}{{ popup ? '&popup' : '' }}">
    <input type="hidden" id="fm-url" value="{{ path('FileManager') }}">

    <div class="col-lg-12 headline headline-button ">
        <div class="icon"><i class="fa-images fas"></i></div>
        <p class="title">
            {{ 'File manager'|trans('files/manager') }}
            <span class="description">{{ description is not null ? description : 'Manage'|trans('global') ~ ' ' ~ 'Files'|trans('files/manager') }}</span>
        </p>

        {% if user|hasPermission('createDir') %}
        <button type="button" class="add-button btn btn-black" id="create-dir" data-toggle="modal" data-target="#create-dir-modal">
            <span><i class="fas fa-folder-plus"></i></span>
        </button>
        {% endif %}

        <button type="button" class="add-button btn btn-black" id="fm-files-upload-btn">
            <span class="label"><i class="fas fa-upload"></i></span>
            <span class="loading" style="display:none"><i class="fas fa-circle-notch fa-spin"></i></span>
        </button>

        <form action="" id="fm-files-upload-form" enctype="multipart/form-data" style="display:none !important;">
            <input type="file" name="files[]" multiple id="fm-files-upload">
            <input type="hidden" name="currentDir" value="{{ currentDir }}">
            <input type="hidden" name="popup" value="{{ popup ? 1 : 0 }}">
        </form>
    </div>

    <nav class="control-nav">
        <a href="#" class="fm-controls-back">
            <button class="btn btn-gray fm-controls-back-btn" disabled>
                <i class="fas fa-arrow-left"></i> {{ 'Back'|trans('global') }}
            </button>
        </a>
        <div class="fm-controls-path">
            <span>
                <a href="{{ path('FileManager') }}?dir=/{{ popup ? '&popup' : '' }}" class="fm-breadcrumb"
                    data-dir-path=""
                >
                    <i class="fas fa-home"></i>
                </a>

                {% if breadcrumbs %}
                    {% for breadcrumb in breadcrumbs %}
                        <i class="fas fa-angle-right"></i>
                        <a href="{{ breadcrumb.fullPath }}" class="fm-breadcrumb"
                            data-dir-path="{{ breadcrumb.relativePath }}"
                        >
                            {{ breadcrumb.name }}
                        </a>
                    {% endfor %}
                {% else %}
                    {# Here just so the home icon is aligned properly #}
                    <span style="visibility: hidden">/</span>
                {% endif %}
            </span>
        </div>
    </nav>

    <div class="file-box-around">

        {% if empty %}
            <p class="dir-empty">
                {{ 'Folder is empty'|trans('files/manager') }}
            </p>
        {% endif %}

        {# Directories #}
        {% for key, dir in dirs %}

            {% if not dir.isBack %}
                <div class="file-box col-lg-2 dir"
                    data-dir-name="{{ dir.filename }}"
                    data-dir-path="{{ dir.relativePath }}"
                >
                    <div class="file-box-inner">
                        <div class="owner-icon">
                            {% if dir.synced %}
                                <a href="{{ path('User') }}/show?id={{ dir.user.id }}">
                                    <img src="{{ __webStorage__ ~ dir.user.img.relativePath }}" class="user-icon" alt=""> <span>{{ dir.user.username }}</span>
                                </a>
                            {% else %}
                                <i class="fas fa-hdd"></i> <span>Server</span>
                            {% endif %}
                        </div>

                        <div class="menu-toggle-container">
                            <i class="fas fa-ellipsis-h toggler"></i>
                            <div class="content">
                                <button type="button" data-toggle="modal" data-target="#delete-dir-modal-{{ key }}"><i class="fas fa-trash-alt"></i> {{ 'Delete'|trans('global') }}</button>
                                <button><i class="fas fa-pencil-alt"></i> Upravit</button>
                            </div>
                        </div>

                        <a href="{{ path('FileManager') }}?dir={{ dir.relativePath }}{{ popup ? '&popup' : '' }}" class="dir-open">
                            <div class="icon">
                                {% if dir.icon %}
                                    {{ dir.icon|raw }}
                                {% else %}
                                    <i class="fas fa-folder-open"></i>
                                {% endif %}
                            </div>
                            <span class="file-name">
                                {{ dir.filename }}
                            </span>
                        </a>
                        
                        <div class="file-box-buttons">
                            {% if user|hasPermission('edit') %}
                                <button type="button" data-toggle="modal" class="btn link edit">{{ 'Edit'|trans('global') }}</button>
                            {% endif %}

                            {% if user|hasPermission('delete') %}
                                <button type="button" data-toggle="modal" data-target="#delete-dir-modal-{{ key }}" class="btn link delete">{{ 'Delete'|trans('global') }}</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <script>
                    document.querySelector('.fm-controls-back').setAttribute('href', '{{ path("FileManager") }}?dir={{ dir.relativePath }}{{ popup ? "&popup" : "" }}');
                    document.querySelector('.fm-controls-back-btn').removeAttribute('disabled');
                </script>
            {% endif %}
        {% endfor %}

        {# Files #}
        {% for key, file in files %}
            <div class="file-box col-lg-2 file"
                data-file-id="{{ file.id }}"
                data-file-name="{{ file.filename }}"
                data-file-path="{{ file.relativePath }}"
                data-file-preview="{{ file.isImg ? __webStorage__ ~ file.relativePath : '' }}"
            >
                <div class="file-box-inner">
                    <div class="owner-icon">
                        {% if file.synced %}
                            <a href="{{ path('User') }}/show?id={{ file.user.id }}">
                                <img src="{{ __webStorage__ ~ file.user.img.relativePath }}" class="user-icon" alt=""> <span>{{ file.user.username }}</span>
                            </a>
                        {% else %}
                            <i class="fas fa-hdd"></i> <span>Server</span>
                        {% endif %}
                    </div>

                    <div class="menu-toggle-container">
                        <i class="fas fa-ellipsis-h toggler"></i>
                        <div class="content">
                            <button type="button" data-toggle="modal" data-target="#delete-file-modal-{{ key }}"><i class="fas fa-trash-alt"></i> {{ 'Delete'|trans('global') }}</button>
                            <button><i class="fas fa-pencil-alt"></i> Upravit</button>
                            <button><i class="fas fa-eye"></i> Náhled</button>
                        </div>
                    </div>

                    {#
                    {% if popup %}
                        <button class="fm-select-file-btn"
                            data-file-id="{{ file.id }}"
                            data-file-name="{{ file.filename }}"
                        >
                            Select
                        </button>
                    {% endif %}
                    #}

                    <div class="icon">
                        {% if file.isImg %}
                            <img src="{{ __webStorage__ ~ file.relativePath }}" alt="">
                        {% else %}
                            <i class="fas fa-file"></i>
                        {% endif %}
                    </div>
                    <span class="file-name">{{ file.filename }}</span>
                    <span class="file-owner">
                        {% if file.synced %}
                            <a href="{{ path('User') }}/show?id={{ file.user.id }}">
                                <img src="{{ __webStorage__ ~ file.user.img.relativePath }}" class="user-icon" alt="">
                                {{ file.user.username }}
                            </a>
                        {% else %}
                            <i class="fas fa-hdd"></i> server
                        {% endif %}
                    </span>
                    <div class="file-box-buttons">
                        {% if user|hasPermission('edit') %}
                            <button type="button" data-toggle="modal" class="btn link edit">{{ 'Edit'|trans('global') }}</button>
                        {% endif %}

                        {% if user|hasPermission('delete') %}
                            <button type="button" data-toggle="modal" data-target="#delete-file-modal-{{ key }}" class="btn link delete">{{ 'Delete'|trans('global') }}</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% for key, dir in dirs %}
    {% if not dir.isBack %}
        <!-- Dir delete modal -->
        <div class="modal fade" id="delete-dir-modal-{{ key }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-dir-modal-{{ key }}Label">{{ 'Delete'|trans('global') }} <b>{{ dir.filename }}</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ 'Are you sure? This action is pernament.'|trans('action/list') }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">{{ 'Close'|trans('global') }}</button>
                        <a href="{{ path('FileManager') }}/delete?path={{ dir.relativePath }}" class="link text-danger"
                            data-dismiss="modal">
                            <button type="button" class="btn btn-danger">{{ 'Delete'|trans('global') }}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

{% for key, file in files %}

    <!-- File delete modal -->
    <div class="modal fade delete-file-modal" id="delete-file-modal-{{ key }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-file-modal-{{ key }}Label">{{ 'Delete'|trans('global') }} <b>{{ file.filename }}</b></h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'Are you sure? This action is pernament.'|trans('action/list') }}

                    {% if file.uses[0]|length > 0 %}
                        <div class="file-uses">
                            <p>{{ 'This file is being used by these entities'|trans('files/manager') }}:</p>
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            {{ 'Entity'|trans('files/manager') }}
                                        </th>
                                        <th>
                                            {{ 'Name'|trans('files/manager') }}
                                        </th>
                                        <th>
                                            {{ 'Use'|trans('files/manager') }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for fileUse in file.uses %}
                                        <tr>
                                            <td>
                                                {{ fileUse|getClassName|trans('entity/names') }}
                                            </td>
                                            <td>
                                                <a data-dismiss="modal" href="{{ path(fileUse|getClassName) }}/show?id={{ fileUse.id }}">{{ fileUse }}</a>
                                            </td>
                                            <td>
                                                {{ fileUse.property }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">{{ 'Close'|trans('global') }}</button>
                    <a href="{{ path('FileManager') }}/delete?path={{ file.relativePath }}" class="link text-danger"
                        carnival-link="true">
                        <button type="button" class="btn btn-danger"
                            data-dismiss="modal">{{ 'Delete'|trans('global') }}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endfor %}

<!-- Directory create modal -->
<div class="modal fade" id="create-dir-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="{{ path('FileManager') }}/createDir" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="create-dir-modalLabel">{{ 'New folder'|trans('files/manager') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="currentDir" value="{{ currentDir }}">

                    <input type="text" name="dirName" class="form-control" id="create-dir-name" placeholder="{{ 'Folder name'|trans('files/manager') }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">{{ 'Close'|trans('global') }}</button>
                    <button type="submit" class="btn btn-yellow">{{ 'Create'|trans('global') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

{{ footer }}