{{ header }}
{{ nav }}

<style>
 .list-table, .list-table .btn {
    font-size: 14px !important;
 }
</style>

<div class="main-content">
    <div class="col-lg-12 headline headline-button ">
        <h2>{{ title }}</h2>
        <a href="{{ path(entityName) }}/new">
            <button class="add-button" id="open-form">
                <span>Přidat {{ title }}</span>
            </button>
        </a>
    </div>
    <table class="table table-bordered bg-light table-hover table-striped list-table">
        <thead class="thead-dark">
            <tr>
                {% for column in columns %}
                    <th>{{ column.label }}</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    {% for column in columns %}
                        <td>{{ entity[column.name] }}</td>
                    {% endfor %}
                    <td class="display: inline-block;">
                        <a href="{{ path(entityName) }}/edit/{{ entity.id }}"><button class="btn btn-sm btn-secondary"><i class="fas fa-pencil-alt"></i> Upravit</button></a>
                        <a href="{{ path(entityName) }}/delete/{{ entity.id }}"><button class="yellow-button"><i class="fas fa-trash-alt"></i> Smazat</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ footer }}