{{ header }}
{{ nav }}
    
<link href="{{ __css__ }}admin/actions/list.css" rel="stylesheet">

{% for template in customTemplates %}
    <link rel="stylesheet" href="{{ __css__ }}admin/types/{{ template }}.css">
{% endfor %}

<style>
    .list-table, .list-table .btn {
        font-size: 14px !important;
    }
</style>

<div class="main-container row">

    <div class="col col-10">
        <div class="main-content">
            <div class="col-lg-12 headline headline-button ">
                <div class="icon">
                    {% if entity.icon is not null %}
                        {{ icon(entity.icon)|raw }}
                    {% else %}
                        {{ icon('box')|raw }}
                    {% endif %}
                </div>
                <p class="title">
                    {{ title is not defined ? entityName|trans('entity/' ~ entityName) : title|trans('entity/' ~ entityName) }}
                    <span class="description">{{ description is not null ? description : 'Manage'|trans('global') ~ ' ' ~ entityName|trans('entity/' ~ entityName) }}</span>
                </p>
                
                {% if new and user|hasPermission('new') %}
                    <a href="{{ path(entityName) }}/new">
                        <button class="add-button btn btn-primary float-right" id="open-form">
                            <span><i class="fas fa-plus"></i></span>
                        </button>
                    </a>
                {% endif %}
            </div>
        
            <div class="body">
                {% if listEntities|length == 0 %}
                    <div class="empty-content"><p>{{ 'Nothing here'|trans('action/list') }}</p></div>
                {% else %}
                    <table class="table">
                        <thead class="list-thead">
                            <tr>
                                {% if batch %}
                                    <th class="batch-action-container">
                                        <input
                                            type="checkbox"
                                            class="batch-action-all"
                                        >
                                    </th>
                                {% endif %}
                                {% for column in columns %}
                                    {% if column.name != '_metafields' %}
                                        <th>
                                            <a class="{{ sortBy == column.name ? 'active' : '' }}" href="{{ path(entityName) }}/list?sortBy={{ column.name }}&sortOrder={{ sortBy == column.name ? column.sortOrder : 'DESC' }}">
                                                {{ column.label|trans('entity/' ~ entityName) }}
        
                                                <span class="{{ sortBy == column.name ? 'active' : '' }}">
                                                    {{ icon(sortBy == column.name ? (sortOrder == 'DESC' ? 'sort-descending' : 'sort-ascending') : 'arrows-sort')|raw }}
                                                </span>
                                            </a>
                                        </th>
                                    {% endif %}
                                {% endfor %}
                                <th>
                                    {% if user|hasPermission('delete') and batch %}
                                        <button data-toggle="modal" data-target="#delete-batch-modal" class="btn link delete-btn batch-delete-btn float-right" disabled>{{ icon('trash')|raw }}</button>
                                    {% endif %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for listEntity in listEntities %}
                                <tr>
                                    {% if batch %}
                                        <td class="batch-action-container">
                                            <input
                                                type="checkbox"
                                                class="batch-action"
                                                id="batch-action-{{ listEntity.id }}"
                                                data-id="{{ listEntity.id }}"
                                            >
                                        </td>
                                    {% endif %}
                                    {% for column in columns %}
                                        {% if column.name != '_metafields' %}
                                            <td>
                                                {{ listEntity[column.name] }}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                    <td><div class="table-buttons">
                                        {% if edit and user|hasPermission('edit') %}
                                            <a href="{{ path(entityName) }}/edit?id={{ listEntity.id }}" class="link edit-btn">{{ icon('edit')|raw }}</a>
                                        {% endif %}
                                        {% if delete and user|hasPermission('delete') %}
                                            <button data-toggle="modal" data-target="#delete-entity-modal-{{ listEntity.id }}" class="btn link delete-btn">{{ icon('trash')|raw }}</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="{{ batch ? 2 : 1 }}">
                                    <p class="results-count">
                                        {{ resultsCount }} {{ 'Results'|trans('action/list') }}
                                    </p>
                                </td>
        
                                <td class="text-right list-pagination" colspan="{{ (columns|length - 1) > 0 ? columns|length : 1 }}">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a href="{{ path(entityName) }}/list?page={{ page - 1 }}{{ sortString }}" {{ (page == 1) ? 'class="btn disabled"' : 'class="btn"' }}>{{ icon('arrow-narrow-left')|raw }} {{ 'Previous'|trans('action/list') }}</a>
                                        <div class="btn page-counter">{{ page }} / {{ pagesCount }}</div>
                                        <a href="{{ path(entityName) }}/list?page={{ page + 1 }}{{ sortString }}" {{ (page == pagesCount) ? 'class="btn disabled"' : 'class="btn"' }}>{{ 'Next'|trans('action/list') }} {{ icon('arrow-narrow-right')|raw }}</a>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col col-2">
        <div class="card main-content timeline-container">
            <div class="card-header">
                <b>Timeline</b>
            </div>
            <div class="card-body">
                
                {% if timeline|length != 0 %}
                    <ul class="timeline">
                        {% for timelineItem in timeline %}
                            <li class="timeline-item {{ timelineItem.type }}">
                                <small class="timeline-date">{{ timelineItem.created|date('d.m. Y - H:i:s') }}</small>
                                <b class="timeline-title">{{ timelineItem.title }}</b>
                                <p class="timeline-body">
                                    {{ timelineItem.content|raw }}
                                </p>
                            </li>
                        {% endfor %}
                        <li class="timeline-item">
                        </li>
                    </ul>
                {% else %}
                    Nic...
                {% endif %}

            </div>
        </div>
    </div>

</div>


{% for listEntity in listEntities %}

    <!-- Entity delete modal -->
    <div class="modal fade" id="delete-entity-modal-{{ listEntity.id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-entity-modal-{{ listEntity.id }}Label">{{ 'Delete'|trans('global') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'Are you sure? This action is pernament.'|trans('action/list') }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|trans('global') }}</button>
                    <a href="{{ path(entityName) }}/delete?id={{ listEntity.id }}" class="link text-danger" data-dismiss="modal">
                        <button type="button" class="btn btn-danger">{{ 'Delete'|trans('global') }}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endfor %}

<!-- Batch delete modal -->
<div class="modal fade" id="delete-batch-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-batch-modalLabel">{{ 'Delete'|trans('global') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ 'Are you sure? This action is pernament.'|trans('action/list') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|trans('global') }}</button>
                <a href="{{ path(entityName) }}/delete?ids=" class="batch-delete" data-dismiss="modal">
                    <button type="button" class="btn btn-danger">{{ 'Delete'|trans('global') }}</button>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="{{ __scripts__ }}admin/actions/list.js"></script>

{{ footer }}