{{ header }}
{{ nav }}

<div class="main-content">
    <div class="col-lg-12 headline headline-button ">
        <div style="background-image: url('{{ __img__ }}icons/{{ icon }}')" class="icon"></div>
        <p class="title">
            {{ title ?? entityName|trans('entity/' ~ entityName) }}
            <span class="description">{{ description is not null ? description : 'Manage'|trans('global') ~ ' ' ~ entityName|trans('entity/' ~ entityName) }}</span>
        </p>

        <a href="{{ path(entityName) }}/list">
            <button class="btn btn-link close-button" id="open-form">
                <span><i class="fas fa-times"></i></span>
            </button>
        </a>
    </div>

    <div class="body">
        <div class="card">
            <div class="card-body">
                {{ form.render() }}
            </div>
        </div>
    </div>
</div>

{{ footer }}