{% if value %}
    <a href="{{ __storage__ ~ value }}" data-lightbox="image-{{ rowIndex }}-{{ colIndex }}" data-title="{{ value }}">
        <img src="{{ value ? __storage__ ~ value : '' }}" class="{{ attr.class }} list-type-image" id="{{ attr.id }}" style="max-width: 45px;">
    </a>
{% endif %}