<link rel="stylesheet" href="{{ __css__ }}vendor/bootstrap/bootstrap.css">
<link rel="stylesheet" href="{{ __css__ }}vendor/cropper.min.css">
<link rel="stylesheet" href="{{ __css__ }}admin/module/liveEdit/panel.css">
<link rel="stylesheet" href="{{ __css__ }}admin/notifications.css">

<div class="navbar-le">
    <input type="hidden" id="le-meta-route" value="{{ route }}">
    <input type="hidden" id="le-meta-url-scan" value="{{ path('le/scan') }}">
    <input type="hidden" id="le-meta-url-set" value="{{ path('le/set') }}">
    <input type="hidden" id="le-meta-url-fm" value="{{ path('carnival/FileManager') }}?popup">
    <input type="hidden" id="le-meta-template" value="{{ template }}">
    <input type="hidden" id="le-meta-editing" value="0">
    <input type="hidden" id="le-meta-web-storage" value="{{ __webStorage__ }}">

    <nav class="navbar navbar-le-top">
        <a href="{{ path('carnival') }}"><img src="{{ __img__ }}logo.png" class="logo"></a>

        <ul class="nav">
            <li class="nav-item">
                <button class="btn btn-sm btn-link le-save" disabled>{{ icon('device-floppy')|raw }} Uložit</button>
            </li>

            <li class="nav-item">
                <a href="{{ path('carnival') }}" class="btn btn-sm btn-link">{{ icon('ghost')|raw }} Zpět do adminu</a>
            </li>
        </ul>

        <div class="le-page-name">
            {{ name ?? route }}
            <span class="le-unsaved">
                - Neuloženo
            </span>
        </div>

        <ul class="nav float-right">
            <li class="nav-item">
                <a href="{{ path('carnival') }}">{{ icon('user')|raw }}{{ user.username }}</a>
            </li>
        </ul>
    </nav>

    <div class="menu nav navbar-le-bottom">

        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                    aria-expanded="true">
                    <img src="{{ storage('carnival:' ~ current_language.icon.relativePath) }}" alt=""
                        class="language-icon"> {{ current_language.name }}
                </a>

                <div class="dropdown-menu">
                    {% for language in languages %}
                    {% if language.id != current_language.id %}
                    <a href="{{ path('le/language/change') }}?code={{ language.code }}" class="dropdown-item">
                        <img src="{{ storage('carnival:' ~ language.icon.relativePath) }}" alt=""
                            class="language-icon"> {{ language.name }}
                    </a>
                    {% endif %}
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('carnival/Language') }}" class="dropdown-item">Nastavení jazyků</a>
                </div>
            </div>
        </li>
        
        <div id="ckeditor-controls"></div>
    </div>

</div>

<textarea id="le-nodes-json" style="display:none;">
    {{ nodes|toArray|json_encode }}
</textarea>

<script src="{{ __scripts__ }}vendor/vue.js"></script>
<script src="{{ __scripts__ }}vendor/jquery.min.js"></script>
<script src="{{ __scripts__ }}vendor/notifications.js"></script>
<script src="{{ __scripts__ }}vendor/ckeditor/ckeditor.js"></script>
<script src="{{ __scripts__ }}vendor/popper.js"></script>
<script src="{{ __scripts__ }}vendor/bootstrap.min.js"></script>
<script src="{{ __scripts__ }}vendor/cropper.min.js"></script>
<script src="{{ __scripts__ }}vendor/jquery-cropper.min.js"></script>

<script>
    CKEDITOR.disableAutoInline = true;
</script>

<script src="{{ __scripts__ }}admin/module/liveEdit/scan.js"></script>
<script src="{{ __scripts__ }}admin/module/liveEdit/select.js"></script>
<script src="{{ __scripts__ }}admin/module/liveEdit/set.js"></script>
<script src="{{ __scripts__ }}admin/module/liveEdit/delete.js"></script>