{{ header }}
{{ nav }}

<link href="{{ __css__ }}admin/actions/list.css" rel="stylesheet">
<link href="{{ __css__ }}admin/settings/translate.css" rel="stylesheet">

<style>
    .list-table,
    .list-table .btn {
        font-size: 14px !important;
    }
</style>

<div class="main-container">
    <div class="main-content">
        <div class="col-lg-12 headline headline-button ">
            <div class="icon">
                {{ icon('language')|raw }}
            </div>
            <p class="title">
                {{ 'Translate'|trans('settings/translate') }}
                <span class="description">{{ 'Translate entities'|trans('settings/translate') }}</span>
            </p>
    
            <a href="{{ path('Translate/new') }}">
                <button class="add-button btn btn-primary float-right">
                    <span><i class="fas fa-plus"></i></span>
                </button>
            </a>
        </div>
    
        {% if sections|length == 0 %}
    
        <div class="empty-content">
            <p>Zatím tu nic není...</p>
        </div>
    
        {% else %}
    
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'Filename'|trans('settings/translate') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for sectionKey, section in sections %}
                    <tr>
                        <th><i class="fas fa-folder-open"></i>
                            {{ (section.filename|trans('settings/translate') == '') ? 'Uncategorized'|trans('settings/translate') : section.filename|trans('settings/translate') }}</th>
                        <th>
                            <div class="table-buttons">
                                <button type="button" data-toggle="modal" data-target="#edit-section-modal-{{ sectionKey }}" class="btn link"><i class="fa-edit fas"></i></button>
                                <button type="button" data-toggle="modal" data-target="#delete-section-modal-{{ sectionKey }}" class="btn link text-danger"><i class="far fa-trash-alt"></i></button>
                            </div>
                        </th>
                    </tr>
    
                    {% for itemKey, item in section.items %}
                        <tr>
                            <td><i class="fas fa-file-alt"></i> {{ item.filename }}</td>
                            <td>
                                <div class="table-buttons">
                                    <a href="{{ path('Translate') }}/edit?dir={{ section.filename }}&filename={{ item.filename }}"
                                        class="link" carnival-link="true"><i class="fa-edit fas"></i></a>
    
                                    <button type="button" data-toggle="modal" data-target="#delete-item-modal-{{ sectionKey }}-{{ itemKey }}" class="btn link text-danger"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
            {#
                <tfoot>
                    <tr>
                        <td>
                            {{ resultsCount }} {{ 'Results'|trans }}
                        </td>
                        <td colspan="{{ columns|length - 1 }}"></td>
                        <td class="text-right list-pagination">
                            <a href="{{ path(entityName) }}/list?page={{ page - 1 }}" {{ (page == 1) ? 'class="disabled"' : '' }}>{{ 'Previous'|trans }}</a>
                             | 
                            <a href="{{ path(entityName) }}/list?page={{ page + 1 }}" {{ (page == pagesCount) ? 'class="disabled"' : '' }}>{{ 'Next'|trans }}</a>
                            ({{ page }} / {{ pagesCount }})
                        </td>
                    </tr>
                </tfoot>
                #}
        </table>
    
        {% endif %}
    </div>
</div>

{% for sectionKey, section in sections %}
    {% for itemKey, item in section.items %}

        <!-- Item delete modal -->
        <div class="modal fade" id="delete-item-modal-{{ sectionKey }}-{{ itemKey }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="delete-item-modal-{{ sectionKey }}-{{ itemKey }}Label"><i class="far fa-trash-alt"></i></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ 'Are you sure you want to delete'|trans('action/list') }} {{ item.filename }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|trans('global') }}</button>
                        <a href="{{ path('Translate') }}/delete?path={{ section.filename }}/{{ item.filename }}"class="link text-danger">
                            <button type="button" class="btn btn-danger">{{ 'Delete'|trans('global') }}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}

            <!-- Section delete modal -->
            <div class="modal fade" id="delete-section-modal-{{ sectionKey }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete-section-modal-{{ sectionKey }}Label">{{ 'Delete'|trans('global') }} {{ (section.filename|trans('settings/translate') == '') ? 'Uncategorized'|trans('settings/translate') : section.filename|trans('settings/translate') }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ 'Are you sure you want to delete'|trans('action/list') }} {{ (section.filename|trans('settings/translate') == '') ? 'Uncategorized'|trans('settings/translate') : section.filename|trans('settings/translate') }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|trans('global') }}</button>
                            <a href="{{ path('Translate') }}/delete?path={{ section.filename }}"class="link text-danger">
                                <button type="button" class="btn btn-danger">{{ 'Delete'|trans('global') }}</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section edit modal -->
            <div class="modal fade" id="edit-section-modal-{{ sectionKey }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form class="modal-content" action="{{ path('Translate') }}/editSection" method="POST">
                        <div class="modal-header">
                            <h5 class="modal-title" id="edit-section-modal-{{ sectionKey }}Label">{{ 'Edit'|trans('global') }} {{ section.filename|trans('settings/translate') }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="from" value="{{ section.filename }}">
                            <input type="text" name="to" class="form-control" placeholder="{{ 'New name'|trans('action/list') }}" value="{{ section.filename }}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close'|trans('global') }}</button>
                            <button type="submit" class="btn btn-primary">{{ 'Edit'|trans('global') }}</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}

{{ footer }}