</div>

<script src="{{ __scripts__ }}jquery.min.js"></script>
<script src="{{ __scripts__ }}popper.js"></script>
<script src="{{ __scripts__ }}bootstrap.min.js"></script>
<script src="{{ __scripts__ }}lightbox.js"></script>
<script src="{{ __scripts__ }}easytimer.js"></script>

<!-- SPA -->
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="{{ __scripts__ }}admin/notifications.js"></script>
<script src="{{ __scripts__ }}admin/carnivalSPA.js" ></script>
<script src="{{ __scripts__ }}admin/ajaxForm.js"></script>
<script src="{{ __scripts__ }}admin/files/manager.js"></script>
<script src="{{ __scripts__ }}admin/files/select.js"></script>
<script src="{{ __scripts__ }}admin/partials/nav.js"></script>

<script>
    lightbox.option({
      'resizeDuration': 300,
      'fadeDuration': 100,
      'wrapAround': true
    })
</script>
</body>

</html>