<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ logo }} &bull; {{ title }}</title>

    <link href="{{ __css__ }}bootstrap/bootstrap.css" rel="stylesheet">
    <link href="{{ __css__ }}root.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900,300,200&subset=latin-ext,latin">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{{ __css__ }}lightbox.css">
    <link rel="stylesheet" href="{{ __css__ }}admin/notifications.css">

    <script src="{{ __scripts__ }}vue.js"></script>
</head>

<body>