<link href="{{ __css__ }}admin/partials/nav.css" rel="stylesheet">

<nav class="side-nav">
    <div class="nav-fixed-buttons">
        <div class="logo">
            <a class="logo-inner" href="{{ path('') }}" carnival-link="false">
                {{ logo|raw }}
            </a>
            <div class="page-loading">
                <img src="{{ __img__ }}icons/loading50.gif" style="height: 15px;">
            </div>
        </div>
        <div class="go-website-around">
            <a target="_blank" href="{{ path('../') }}" carnival-link="false">
                <button class="go-website" data-toggle="tooltip" data-placement="right" title="{{ 'Go to website'|trans('partials/nav') }}">
                    <span><i class="fas fa-globe"></i></span>
                </button>
            </a>
        </div>
    </div>

    <div class="body">

        <a href="#">
            <div class="nav-btn scn-nav-toggle {% if entityConfig.nav_section is null or entityConfig.nav_section == 'entity' %}active{% endif %}" id="nav-btn-Entities">
                <i class="fas fa-cube"></i>
                <p>Entities</p>
            </div>
        </a>

        <a href="{{ path('Dashboard') }}">
            <div class="nav-btn {% if entityConfig.nav_section == 'dashboard' %}active{% endif %}" id="nav-btn-Dashboard">
                <i class="fas fa-tachometer-alt"></i>
                <p>Dashboard</p>
            </div>
        </a>

        <a href="{{ path('FileManager') }}" carnival-fade='true'>
            <div class="nav-btn {% if entityConfig.nav_section == 'fileManager' %}active{% endif %}" id="nav-btn-FileManager">
                <i class="fas fa-folder"></i>
                <p>File Manager</p>
            </div>
        </a>

        <a href="{{ path('Translate') }}" carnival-fade='true'>
            <div class="nav-btn {% if entityConfig.nav_section == 'translate' %}active{% endif %}" id="nav-btn-Translate">
                <i class="fas fa-language"></i>
                <p>Translations</p>
            </div>
        </a>

        <a href="{{ path('User') }}" carnival-fade='true'>
            <div class="nav-btn {% if entityConfig.nav_section == 'user' %}active{% endif %}" id="nav-btn-User">
                <i class="fas fa-users"></i>
                <p>Users</p>
            </div>
        </a>

        <a href="#">
            <div class="nav-btn scn-nav-toggle {% if entityConfig.nav_section == 'settings' %}active{% endif %}" id="nav-btn-Settings">
                <i class="fas fa-cogs"></i>
                <p>Settings</p>
            </div>
        </a>
    </div>

    <div class="info-box">
        <div class="online-user-around">
            <div class="online-user droptop">
                {% if user.img != '' %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" carnival-link="false">
                        <img class="user-img" src="{{ __storage__ ~ user.img }}">
                    </a>
                {% else %}
                    <img class="user-img dropdown-toggle" src="{{ __img__ }}icons/profile.png" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% endif %}

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('User') }}/show?id={{ user.id }}"><i class="fas fa-user"></i> {{ 'Profile'|trans('partials/nav') }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item danger" href="{{ path('logout') }}"><i class="fa-sign-out-alt fas"></i> {{ 'Log out'|trans('partials/nav') }}</a>
                </div>
            </div>
        </div>
        {#
        <div class="button-group">
            <a href="{{ path('logout') }}">
                <button class="info-btn logout">
                    <i class="fa-sign-out-alt fas"></i>
                </button>
            </a>
        </div>
        #}
    </div>

    <div class="scn-nav">

        <section id="scn-nav-entities" class="scn-nav-section
            {% if entityConfig.nav_section is null or entityConfig.nav_section != 'settings' or entityConfig.nav_section == 'entity' %}
                active
            {% endif %}
        ">
            <h2>
                <i class="fas fa-cube"></i>
                {{ 'Content'|trans('partials/nav') }}
            </h2>
    
            <ul>
                {% for entity in entities %}
                    {% if entity.type == 'entity' %}
                        <a href="{{ path(entity.name) }}" carnival-fade='true'>
                            <li class="scn-nav-btn scn-nav-entity-btn {{ (entity.active) ? 'active' : '' }}" id="nav-btn-{{ entity.name }}">
                                {% if entity.icon is not null %}
                                    <i class="fas fa-{{ entity.icon }}"></i>
                                {% else %}
                                    <i class="fas fa-cube"></i>
                                {% endif %}
                                {{ entity.title }}
                            </li>
                        </a>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

        <section id="scn-nav-settings" class="scn-nav-section
            {% if entityConfig.nav_section == 'settings' %}
                active
            {% endif %}
        ">
            <h2>
                <i class="fas fa-cogs"></i>
                {{ 'Settings'|trans('partials/nav') }}
            </h2>
            
            <ul id="scn-nav-settings">
                {% for entity in entities %}
                    {% if entity.type == 'settings' %}
                        <a href="{{ path(entity.name) }}" carnival-fade="true">
                            <li class="scn-nav-btn scn-nav-settings-btn {{ (entity.active) ? 'active' : '' }}" id="nav-btn-{{ entity.name }}">
                                {% if entity.icon is not null %}
                                    <i class="fas fa-{{ entity.icon }}"></i>
                                {% endif %}
                                {{ entity.title }}
                            </li>
                        </a>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

    </div>

</nav>

<input type="hidden" id="meta-webroot" value="{{ webroot }}">
<input type="hidden" id="meta-appName" value="{{ app.name }}">
<input type="hidden" id="meta-appIsDefault" value="{{ app.isDefault }}">

<div id="carnival-container">