<link href="{{ __css__ }}admin/partials/nav.css" rel="stylesheet">

<header class="header">
    <div></div>
    <div class="breadcrumbs">
        <span>
            {% set breadcrumbUrl = path('') %}
    
            {% for breadcrumb in breadcrumbs %}
                {% set breadcrumbUrl = breadcrumbUrl ~ breadcrumb ~ '/' %}
    
                <a href="{{ breadcrumbUrl }}">{{ breadcrumb|trans('partials/nav') }}</a>
            {% endfor %}
        </span>
    </div>
    <div class="online-user-around">
        <div class="online-user">
            <img src="{{ __img__ }}icons/profile.png">
            <span>{{ user.username }}</span>
        </div>
    </div>
</header>

<nav class="side-nav">
    <div class="nav-fixed-buttons">
        <div class="logo">
            <a href="{{ path('') }}">
                {{ logo|raw }}
            </a>
        </div>
        <a target="_blank" href="{{ path('../') }}">
            <button class="go-website">
                <span>{{ 'Go to website'|trans('global') }}</span>
            </button>
        </a>
        {#
        <div class="tab">
            <!--
            <div class="tab-button-group">
            </div>
            -->
            <button class="tablinks tablink-entities" onclick="openCity(event, 'custom')" id="defaultOpen">{{ 'Entities'|trans('global') }}</button>
            <button class="tablinks settings" onclick="openCity(event, 'settings')">
                <img src="{{ __img__ }}icons/settings-dark.svg">
            </button>
        </div>
        #}
    </div>

    <div class="body">
        <h2>{{ 'Entities'|trans('global') }}</h2>
        {% for entity in entities %}
            {% if entity.type == 'entity' %}
                <a href="{{ path(entity.name) }}">
                    <div class="nav-btn {{ (entity.active) ? 'active' : '' }}">
                        {% if entity.icon is not null %}
                            <img src="{{ __img__ }}icons/{{ entity.icon }}">
                        {% endif %}
                        <p>{{ entity.title }}</p>
                    </div>
                </a>
            {% endif %}
        {% endfor %}

        <h2>{{ 'Settings'|trans('global') }}</h2>
        {% for entity in entities %}
            {% if entity.type == 'settings' %}
                <a href="{{ path(entity.name) }}">
                    <div class="nav-btn {{ (entity.active) ? 'active' : '' }}">
                        {% if entity.icon is not null %}
                            <img src="{{ __img__ }}icons/{{ entity.icon }}">
                        {% endif %}
                        <p>{{ entity.title }}</p>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>

    <div id="custom" class="tabcontent">
        <h2>{{ 'Entities'|trans('global') }}</h2>

        {% for entity in entities %}
            {% if entity.type == 'entity' %}
                <a href="{{ path(entity.name) }}">
                    <div class="nav-btn {{ (entity.active) ? 'active' : '' }}">
                        {% if entity.icon is not null %}
                            <img src="{{ __img__ }}icons/{{ entity.icon }}">
                        {% endif %}
                        <h3>{{ entity.title }}</h3>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <div id="settings" class="tabcontent">
        <h2>{{ 'Settings'|trans('global') }}</h2>
        {% for entity in entities %}
            {% if entity.type == 'settings' %}
                <a href="{{ path(entity.name) }}">
                    <div class="nav-btn {{ (entity.active) ? 'active' : '' }}">
                        {% if entity.icon is not null %}
                            <img src="{{ __img__ }}icons/{{ entity.icon }}">
                        {% endif %}
                        <h3>{{ entity.title }}</h3>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
        <h2>{{ 'Advanced Settings'|trans('global') }}</h2>
        {% for entity in entities %}
            {% if entity.type == 'settings_advanced' %}
                <a href="{{ path(entity.name) }}">
                    <div class="nav-btn {{ (entity.active) ? 'active' : '' }}">
                        {% if entity.icon is not null %}
                            <img src="{{ __img__ }}icons/{{ entity.icon }}">
                        {% endif %}
                        <h3>{{ entity.title }}</h3>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>

    {#
    <div class="info-box">
        <div class="online-user-around">
            <div class="online-user">
                <img src="{{ __img__ }}icons/profile.png">
                <span>{{ user.username }}</span>
            </div>
        </div>
        <div class="button-group">
            <button class="info-btn">{{ 'Profile'|trans('global') }}</button>
            <a href="{{ path('logout') }}">
                <button class="info-btn logout">
                    {{ 'Logout'|trans('global') }}
                    <img src="{{ __img__ }}icons/logout-dark.svg" width="10px">
                </button>
            </a>
        </div>
    </div>
    <!-- Tab content -->
    #}
    <div class="info-box">
        &copy; 2019 - 2020 Matyáš Teplý
        <br>
        {{ 'Version'|trans('partials/nav') }} 0.8.0
    </div>
</nav>