<link href="{{ __css__ }}/partials/nav.css" rel="stylesheet">

<nav class="side-nav">
    <div class="nav-fixed-buttons">
        <a target="_blank" href="{{ path('../') }}">
            <button class="go-website">
                <span>Přejít na web</span>
            </button>
        </a>
        <div class="tab">
            <div class="tab-button-group">
                <button class="tablinks left" onclick="openCity(event, 'custom')" id="defaultOpen">Prvky</button>
            </div>
            <button class="tablinks settings" onclick="openCity(event, 'settings')">
                <img src="{{ __img__ }}icons/settings-dark.svg">
            </button>
        </div>
    </div>

    <div id="custom" class="tabcontent">
        <h2>Prvky</h2>

        {% for entity in entities %}
            {% if entity.type == 'entity' %}
                <a href="{{ path(entity.name) }}">
                    <div class="nav-btn {{ (entity.active) ? 'active' : '' }}">
                        {% if entity.icon is not null %}
                            <img src="{{ __img__ }}icons/{{ entity.icon }}">
                        {% endif %}
                        <h3>{{ entity.title }}</h3>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <div id="settings" class="tabcontent">
        <h2>Nastavení</h2>
        {% for entity in entities %}
            {% if entity.type == 'settings' %}
                <a href="{{ path(entity.name) }}">
                    <div class="nav-btn {{ (entity.active) ? 'active' : '' }}">
                        {% if entity.icon is not null %}
                            <img src="{{ __img__ }}icons/{{ entity.icon }}">
                        {% endif %}
                        <h3>{{ entity.title }}</h3>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
        <h2>Pokročilé nastavení</h2>
        {% for entity in entities %}
            {% if entity.type == 'settings_advanced' %}
                <a href="{{ path(entity.name) }}">
                    <div class="nav-btn {{ (entity.active) ? 'active' : '' }}">
                        {% if entity.icon is not null %}
                            <img src="{{ __img__ }}icons/{{ entity.icon }}">
                        {% endif %}
                        <h3>{{ entity.title }}</h3>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="info-box">
        <div class="online-user-around">
            <div class="online-user">
                <img src="{{ __img__ }}icons/profile.png">
                <span>{{ user.username }}</span>
            </div>
        </div>
        <div class="button-group">
            <button class="info-btn">Profil</button>
            <a href="{{ path('logout') }}">
                <button class="info-btn logout">
                    Odhlásit se
                    <img src="{{ __img__ }}icons/logout-dark.svg" width="10px">
                </button>
            </a>
        </div>
    </div>
    <!-- Tab content -->
</nav>