</div>

<!-- Vendor -->
<script src="{{ __scripts__ }}vendor/popper.js"></script>
<script src="{{ __scripts__ }}vendor/bootstrap.min.js"></script>
<script src="{{ __scripts__ }}vendor/lightbox.js"></script>
<script src="{{ __scripts__ }}vendor/easytimer.js"></script>
<script src="{{ __scripts__ }}vendor/notifications.js"></script>
<script src="{{ __scripts__ }}vendor/progressbar.min.js"></script>

<!-- SPA -->
<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="{{ __scripts__ }}admin/carnivalSPA.js" ></script>
<script src="{{ __scripts__ }}admin/ajaxForm.js"></script>
<script src="{{ __scripts__ }}admin/files/manager.js"></script>
<script src="{{ __scripts__ }}admin/files/select.js"></script>
<script src="{{ __scripts__ }}admin/partials/nav.js"></script>

<script>
    lightbox.option({
      'resizeDuration': 300,
      'fadeDuration': 100,
      'wrapAround': true
    })
</script>
</body>

</html>